<nav class="navbar navbar-expand-lg navbar-dark" style="background: #573b7a;">
    <a class="navbar-brand" href="#">Politicum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 2vw">
        <ul class="navbar-nav">
            <li class="nav-item {% if app.request.attributes.get('_route') == "index" %}active{% endif %}">
                <a href="{{ path('index') }}" class="nav-link">Inicio <i class="fas fa-home"></i></a>
            </li>

            {% if is_granted("ROLE_USER") %}
                <li class="nav-item {% if app.request.attributes.get('_route') == "ver_usuario" %}active{% endif %}">
                    <a href="{{ path("ver_usuario", {'id': app.user.id }) }}" class="nav-link">Mi perfil <i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == "mensajes_privados" %}active{% endif %}">
                    <a href="{{ path("mensajes_privados") }}" class="nav-link">Mensajes privados <i class="fas fa-envelope"></i></a>
                </li>
            {% endif %}

            <li class="nav-item {% if app.request.attributes.get('_route') == "foro" %}active{% endif %}">
                <a href="{{ path("foro") }}" class="nav-link">Foro <i class="fas fa-comment-alt"></i></a>
            </li>

            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item {% if app.request.attributes.get('_route') == "crear_usuario" %}active{% endif %}">
                    <a href="{{ path("crear_usuario") }}" class="nav-link">Crear usuario <i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == "listar_usuarios" %}active{% endif %}">
                    <a href="{{ path("listar_usuarios") }}" class="nav-link">Listar usuarios <i class="fas fa-users"></i></a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == "listar_usuarios_reportados" %}active{% endif %}">
                    <a href="{{ path("listar_usuarios_reportados") }}" class="nav-link btn">Usuarios reportados <i class="fas fa-exclamation-circle"></i></a>
                </li>
            {% endif %}

        </ul>
    </div>
    {%  if is_granted("ROLE_USER")  %}

        <div class="collapse navbar-collapse order-3">
            <form class="form-inline my-2 my-lg-0" action="{{ path("buscar_usuario") }}" method="get">
                <input name="username" id="username" class="form-control mr-sm-2" type="search" placeholder="Buscar Personas" aria-label="Search" required pattern="\S+"
                title="El nombre no debe contener espacios en blanco">
                <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

    <div class="collapse navbar-collapse order-9">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a href="{{ path("app_logout") }}" class="nav-link">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>


    {% endif %}
</nav>