<table class="table table-primary">
    <tr>
        <th>Título</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
    {% for publicacion in publicaciones %}
        <tr>
            <td><a href="{{ path('ver_publicacion', {"id" : publicacion.id}) }}">{{ publicacion.titulo }}</a></td>
            <td>{{ usuarios[publicacion.id_usuario].name }}</td>
            <td>{{ publicacion.fecha }}</td>
            <td>
                <a href="{{ path('ver_publicacion', {"id" : publicacion.id}) }}" class="btn btn-sm btn-primary"><i class="fa fas fa-eye"></i></a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('modificar_publicacion', {"id" : publicacion.id}) }}" class="btn btn-sm btn-primary"><i class="fa fas fa-edit"></i></a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or app.user.id == publicacion.id_usuario %}
                    <button class="btn btn-sm btn-danger" onclick="deletePublicacion({{ publicacion.id }})"><i class="fa fas fa-trash-alt"></i></button>
                {% endif %}
            </td>
        </tr>
        {%  else %}
        <h4>No hay publicaciones disponibles</h4>
    {% endfor %}
</table>