{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h3 class="my-4 text-center"> Mensajes privados</h3>
    {% if usuarios is empty %}
        <h4 class="text-center text-danger">No tienes mensajes privados aún.</h4>
    {% else %}
        <table class="table table-primary">
            <tr>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Último mensaje</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
            {% for usuario in usuarios %}
                {% set mensaje = usuario.id | getUltimoMensajeRecibido %}
                <tr>
                    <td>{{ usuario.user }}</td>
                    <td>{{ usuario.surname }} {{ usuario.name }}</td>
                    <td>{{ mensaje.mensaje }}</td>
                    <td>{{ mensaje.fecha }}</td>
                    <td>

                        <a href="{{ path('conversacion', {'idusername': 12 }) }}" class="btn btn-sm btn-primary" title="Ver conversación"><i class="fa fas fa-eye"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Eliminar conversación"><i class="fa fas fa-trash-alt"></i> </a>
                        <button class="btn btn-sm btn-danger" title="Reportar usuario" onclick="reportUser({{ usuario.id }})"><i class="fas fa-exclamation-circle"></i> </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function reportUser(id) {
            bootbox.prompt({
                title: "¿Cuál es la causa del reporte?",
                inputType: 'select',
                buttons: {
                    cancel: {
                        label: 'Cancelar',
                    },
                    confirm: {
                        label: 'Reportar',
                        className: 'btn-danger',
                    }
                },
                inputOptions: [
                    {
                        text: 'Escoge uno...',
                        value: '',
                    },
                    {
                        text: 'Acoso',
                        value: 'Acoso',
                    },
                    {
                        text: 'Nombre ofensivo',
                        value: 'Nombre ofensivo',
                    },
                    {
                        text: 'Distribución de contenido ilegal',
                        value: 'Distribución de contenido ilegal',
                    },
                    {
                        text: 'Spam',
                        value: 'Spam',
                    },
                    {
                        text: 'Incitación al odio',
                        value: 'Incitación al odio',
                    },
                ],
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            method: 'POST',
                            url: '{{ path('reportar_usuario') }}',
                            data: {
                                "motivo" : result,
                                "id_reportado" : id,
                                "id_emisor" : {{ app.user.id }}
                            },
                            success: function(data) {
                                if (data.success) {
                                    location.reload();
                                } else {
                                    bootbox.alert("No puedes reportar dos veces al mismo usuario por el mismo motivo.");
                                }
                            },
                            error: function() {
                                bootbox.alert("Hubo un error al reportar al usuario. Por favor, inténtalo de nuevo más tarde.")
                            }
                        });
                    } else if (result === "") {
                        bootbox.alert("Debes escoger un motivo para reportar a un usuario.")
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block title %}
    Mensajes privados
{% endblock %}

