{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="card mx-auto mt-5" style="max-width: 1200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" class="card-img" alt="user">
            </div>
            <div class="col-md-8 mt-5">
                <div class="card-body">
                    <h5 class="card-title">{{ usuario.name }}</h5>
                    <p class="card-text">{{ usuario.surname }}</p>
                    <p class="card-text"><small class="text-muted">{{ usuario.email }}</small></p>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapsePublications collapseAnswers">Ver actividad</button>

        {% if is_granted("ROLE_ADMIN") %}
                <button class="btn btn-danger float-right " onclick="deleteUser({{ usuario.id }})"><i class="fas fa-trash-alt"></i></button>
                <a href="{{ path('modificar_perfil', {'id': usuario.id }) }}" class="btn btn-warning float-right mr-3"><i class="fas fa-edit"></i></a>
            </div>
        {% elseif app.user.id == usuario.id %}
                <a href="{{ path('modificar_perfil', {'id': usuario.id }) }}" class="btn btn-primary float-right">Modificar perfil</a>
            </div>
        {% elseif app.user.id != usuario.id %}
                <a href="{{ path('crear_mensaje', {'id': usuario.id }) }}" class="btn btn-primary float-right"><i class="fas fa-envelope"></i></a>
            </div>
        {% endif %}
    </div>

    <div class="collapse multi-collapse m-5" id="collapsePublications">
        <h3>Publicaciones </h3>
        <div class="card-columns">
            {%  for publicacion in publicaciones %}
            <div class="card p-3">
                <div class="card-body">
                    <h4 class="card-title">{{ publicacion.titulo }}</h4>
                    <p class="card-text">{{ publicacion.descripcion }}</p>
                    <p class="card-text text-muted">{{ publicacion.fecha }}</p>
                    <a class="btn btn-info float-right mt-3" href="{{ path('ver_publicacion', {'id': publicacion.id}) }}">Visitar</a>

                {% if is_granted("ROLE_ADMIN") or app.user.id == publicacion.id_usuario %}
                    <button class="btn btn-danger float-right mr-2 mt-3" onclick="deletePublicacion({{ publicacion.id }})"><i class="fas fa-trash-alt"></i></button>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('modificar_publicacion', {"id" : publicacion.id}) }}" class="btn btn-warning float-right mr-2 mt-3"><i class="fas fa-edit"></i></a>
                {% endif %}
                </div>
            </div>
                {% else %}
                <p>No ha realizado ninguna publicación.</p>
            {% endfor %}
        </div>
    </div>

    <div class="collapse multi-collapse m-5" id="collapseAnswers">
        <h3>Respuestas</h3>
        <div class="card-columns">
            {% for respuesta in respuestas %}
            <div class="card p-3">
                <div class="card-body">
                    <p class="card-text">{{ respuesta.respuesta }}</p>
                    <p class="card-text text-muted">{{ respuesta.fecha }}</p>
                    <a class="btn btn-info float-right mt-3" href="{{ path('ver_publicacion', {'id': respuesta.id_publicacion}) }}">Ver contexto</a>

                {% if is_granted("ROLE_ADMIN") or app.user.id == respuesta.id_usuario %}
                    <button class="btn btn-danger float-right mr-2 mt-3" onclick="deleteAnswer({{ respuesta.id }})"><i class="fas fa-trash-alt"></i></button>
                    <a href="{{ path('editar_respuesta', {"id" : respuesta.id}) }}" class="btn btn-warning float-right mr-2 mt-3"><i class="fas fa-edit"></i></a>
                {% endif %}
                </div>
            </div>
            {% else %}
                <p>No ha respondido a ninguna publicación.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Ver usuario - Politicum
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function deleteUser(id) {
            bootbox.confirm("¿Seguro que deseas borrar al usuario?", function(result){
                if (result) {
                    $.ajax({
                        method: 'POST',
                        url: '{{ path('borrar_usuario') }}',
                        data: {
                            "id" : id,
                        },
                        success: function(data) {
                            if (data.content) {
                                bootbox.alert("Usuario borrado con éxito.", function(){
                                    window.location.replace("/MDA/listar_usuarios");
                                });
                            } else {
                                bootbox.alert("Hubo un error al borrar el usuario. Por favor, inténtalo de nuevo más tarde.");
                            }
                        },
                        error: function() {
                            bootbox.alert("Hubo un error al borrar el usuario. Por favor, inténtalo de nuevo más tarde.")
                        }
                    });
                }
            });
        }
    </script>


    <script type="text/javascript">
        function deleteAnswer(id) {
            bootbox.confirm("¿Seguro que deseas borrar la respuesta?", function(result){
                if (result) {
                    $.ajax({
                        method: 'POST',
                        url: '{{ path('borrar_respuesta') }}',
                        data: {
                            "id" : id,
                        },
                        success: function(data) {
                            if (data.content) {
                                bootbox.alert("Respuesta borrada con éxito.", function(){
                                    location.reload();
                                });
                            } else {
                                bootbox.alert("Hubo un error al borrar la respuesta. Por favor, inténtalo de nuevo más tarde.");
                            }
                        },
                        error: function() {
                            bootbox.alert("Hubo un error al borrar la respuesta. Por favor, inténtalo de nuevo más tarde.")
                        }
                    });
                }
            });
        }
    </script>


    <script type="text/javascript">
        function deletePublicacion(id) {
            bootbox.confirm("¿Seguro que deseas borrar la publicación?", function(result){
                if (result) {
                    $.ajax({
                        method: 'POST',
                        url: '{{ path('borrar_publicacion') }}',
                        data: {
                            "id" : id,
                        },
                        success: function(data) {
                            if (data.content) {
                                bootbox.alert("Publicación borrada con éxito.", function(){
                                    location.reload();
                                });
                            } else {
                                bootbox.alert("Hubo un error al borrar la publicación Por favor, inténtalo de nuevo más tarde.");
                            }
                        },
                        error: function() {
                            bootbox.alert("Hubo un error al borrar la publicación. Por favor, inténtalo de nuevo más tarde.")
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
